<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Example</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-sankey.v0.12.min.js"></script>
    <script src="https://unpkg.com/d3-sankey@0.12.3/dist/d3-sankey.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header"> Formula 1: An Interactive Exploration </div>
    <button class="refresh-button" onclick="refreshPage()">Clear/Refresh</button>
    <div class="container">
        <div class="sankey" id="sankey"></div>
        <div class="geomap" id="geomap"></div>
        <div class="box small-box1" style="text-align: center;">
            Statistics </br>
            <div class="details-container"></div>
            <div class="radar-container"></div>   
        </div>
        <div class='pcpPlot' id="pcpPlot" style="text-align: center;">PCP Plot Logical Exploration </br></div>
        <div class="box small-box2">
            <canvas id="driverPointsChart"></canvas>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
